body {
    background-color: #2F2F2F;
    font-family: 'Inria Sans';
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

h1{
    color: black;
}

.btn{
  font-family: 'Montserrat';
  color: #F4F4F4;
    font-weight: 700;
    font-size: 2.5vh;
    position: absolute;
    top: 91%;
    left: 43%;
    border-radius: 25px;
    height: 7vh;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: 3px;
    cursor: pointer;
    transition: transform 0.2s ease, outline-offset 0.2s ease;
    padding-top: 15px;
}

.btn2{
  font-family: 'Montserrat';
  color: #F4F4F4;
    font-weight: 700;
    font-size: 1.5vh;
    position: absolute;
    top: 7%;
    left: 90%;
    border-radius: 25px;
    height: 3vh;
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: 3px;
    cursor: pointer;
    transition: transform 0.2s ease, outline-offset 0.2s ease;
    padding-top: 5px;
}

.btn3{
    font-family: 'Montserrat';
    background-color: #2F2F2F;
    color: #F4F4F4;
    font-weight: 500;
    font-size: 1.5vh;
    position: absolute;
    top: 2.5%;
    left: 60%;
    border-radius: 10px;
    height: 3vh;
    cursor: pointer;
    transition: transform 0.2s ease, outline-offset 0.2s ease;
    padding-top: 3.5px;
  }

.btn2:hover{
    transform: scale(1.01);
}

.btn:hover{
    transform: scale(1.01);
}

.btn3:hover{
    transform: scale(1.01);
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007a;
    z-index: 3;
}

.modal{
    position: absolute;
    color: #F4F4F4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 80vh;
    background-color: #2F2F2F;
    border-radius: 25px 0px 25px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.header{
    position: absolute;
    background-color: #424242;
    width: 100%;
    height: 8%;
    left: 0%;
    top: 0%;
    border-radius: 25px 0px 0px 0px;
}



.titleModal{
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    top: 3%;
    left: 5%;

}

.closebtn{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 15%;
    right: 1%;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, outline-offset 0.2s ease;

}

.closebtn:hover{
    transform: scale(1.05);
}

.hr{
    position: absolute;
    color: #F4F4F4;
    width: 95%;
    left: 2.5%;
    top: 11%;
    display: none;
}

.description{
    position: absolute;
    top: 9%;
    left: 5%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #F4F4F4;
}

.descriptionInput{
    position: absolute;
    width: 88%;
    height: 10%;
    left: 5%;
    top: 15%;
    text-align: start;
    background-color: #3a3a3a;
    border-style: none;
    outline: 2px solid #7e7e7e;
    border-radius: 10px;
    color: #F4F4F4;
    padding: 10px;
    line-height: normal;
    font-family: 'Montserrat';
}

.ubicacion{
    position: absolute;
    top: 28%;
    left: 5%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #F4F4F4;
}

.mapContainer{
    position: absolute;
    width: 90%;
    height: 30%;
    top: 35%;
    left: 5%;
}



.ubicacionText{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #F4F4F4;

    position: absolute;
    width: 95%;
    top: 70%;
    left: 0%;
    
    display: flex;
    flex-wrap:wrap; 
    gap: 10px; 
}

.ubicacionText label {
    flex: 0 0 100px; /* ancho fijo para el label */
    text-align: right;
    padding-right: 5px;
}

.ubicacionText input {
    flex: 1 1 200px; /* el input ocupa el espacio restante */
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: 2px solid #7e7e7e;
    background-color: #3a3a3a;
    color: #F4F4F4;
}

.btnEnviar{
    position: absolute;
    width: 90%;
    top: 90%;
    left: 5%;
    background-color: #3a3a3a;
    color: #F4F4F4;
    font-family: 'Montserrat';
    font-weight: 700;
    border-radius: 10px;
    outline: 2px solid #F4F4F4;
    outline-offset: 3px;
    cursor: pointer;
    transition: transform 0.2s ease, outline-offset 0.2s ease;
}

.btnEnviar:hover {
    transform: scale(1.01);
}

.select{
    position: absolute;
    top: 10%;
    right:5%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #F4F4F4;
    background-color: #3a3a3a;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.tema{
    position: absolute;
    top: 9%;
    right: 25%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #F4F4F4;

}

.select:focus{
    outline: none;
    outline-offset: 3px;
}

.searchWrapper{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 100%;
    height: auto;
}

.searchInput{
    position: absolute;
    top: 10%;
    right:5%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #F4F4F4;
    background-color: #3a3a3a;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.suggestionsList{
    position: absolute;
    top: 12%;
    right: 5%;
    cursor: pointer;
    list-style: none;
    font-family: 'Montserrat';
    padding: 20px;
    background: #4d4d4d; 
    border-radius: 10px;
    text-align: left;
    z-index: 3;
    width: 20%;

}

.suggestionItem{
    padding: 5px;
    transition: transform 0.2s ease, outline-offset 0.2s ease;

}

.suggestionItem:hover{
    transform: scale(1.05);
    outline-offset: 10px;
}


.imagenText{
    position: absolute;
    top: 28%;
    right:30%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #F4F4F4;
}

.imagenInput{
    position: absolute;
    top: 30%;
    right: 15%;
    width: 120px;
    background-color: #3a3a3a;
    border: none;
}

.previewContainer {
 position: absolute;
 top: 28.5%;
 right: 5%;
}

.previewImage {
  width: 80px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.tituloR {
    position: absolute;
    top: 30%;
    left: 40%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    color: #F4F4F4;
    background-color: #3a3a3a00;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
}

.tituloR:focus {
    outline: none;
    border: none;
}


