body {
    background-color: #2F2F2F;
    font-family: 'Inria Sans';
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

h1{
    color: black;
}

.btn{
  font-family: 'Montserrat';
  color: #F4F4F4;
    font-weight: 700;
    font-size: 2.5vh;
    position: absolute;
    top: 91%;
    left: 43%;
    border-radius: 25px;
    height: 7vh;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: 3px;
    cursor: pointer;
    transition: transform 0.2s ease, outline-offset 0.2s ease;
    padding-top: 15px;
}